/* WeatherInfo container */
.WeatherInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Light background color */
     /* Take full height of the viewport */
  }
  
  /* Card container */
  .card {
    background-color: #ddd;
    
    border-radius: 10px; /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow to lift the card */
    padding: 20px;
    width: 80%;
    max-width: 600px; /* Limit card size */
    text-align: center; /* Center the text */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Card hover effect */
  .card:hover {
    transform: translateY(-5px); /* Slight movement up when hovered */
  }
  
  /* Image styling */
  .card img {
    width: 100%;
    height: 190px;
    border-radius: 8px; /* Optional: rounded corners for the image */
    margin-bottom: 10px; /* Space between image and text */
  }
  
  .card p {
    font-size: 1.2rem;
    padding: 0.2rem;
    color: #333;

  }
  .card > p:nth-child(2) {
    font-size: 1.5rem;
    color: black;
  }
  .card > p:nth-child(8) {
    font-size: 1.2rem;
    color: black;
  }

  
  /* Responsive design for smaller screens */
  @media (max-width: 600px) {
    .WeatherInfo {
      padding: 10px;
    }
  
  }
  